body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFC14C;
    height: auto;
    background-image: url('../images/pokeball-asset.svg');
    background-position: left -120px top -70px;
    background-repeat: no-repeat;
}

.pokemon-logo {
    width: 100%;
    margin-top: 50px;
}

.pokemon-title {
    text-align: center;
    color: #3B383F;
}

.background-white {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px auto;
    width: 284px;
    height: 440px;
}

.pokemon-menu {
    display: block;
    margin: 30px auto 0 auto;
}

.pokemon-image {
    display: block;
    margin: auto;
    width: 229px;
    height: 143px;
}

.pokemon-picture {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.pokemon-name {
    text-align: center;
    margin-top: 40px;
}

.pokemon-text {
    display: none;
    color: lightslategray;
    margin: 0;
    text-align: center;
    opacity: .7;
    font-weight: 500;
}

.options button{
    background-color: #624499;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    margin-top: 12px;
}

.btn-options {
    display: block;
    margin: auto;
    width: 230px;
    height: 45px;
}

.pokeball {
    position: sticky;
    top: 400px;
    right: -300px;
}



